$primary-color: hsl(0, 100%, 74%) ;
$secondary-color:  hsl(154, 59%, 51%);
$accent: hsl(248, 32%, 49%);
$neutral:  hsl(249, 10%, 26%);
$neutral-light-purple:  hsl(246, 25%, 77%);
$neutral-white: rgb(255, 255, 255);

  div {
    width: 50%;
   }

   .card {
    background-color: $accent;
    font-family: "Poppins",sans-serif;
    display:inline-block;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 10px 13px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    font-size: 16px;
    margin-top: 100px;
    margin-right: 100px;
    height: 50px;
    width: 500px;
    margin-left:850px;
    font-size: small; 


   }

body {
    font-family: "Poppins",sans-serif;
    background-color: $primary-color;
    background-image: url("../images/bg-intro-mobile.png");
    margin: 0;
    font-size: 16px;
    color:$neutral-white;
    align-items: center;
    text-align: center;
    margin-left: 20px;

    @media (max-width: 375px) {
    flex-direction: column;
    text-align: center;
  }


      body font{
    font-family: "Poppins",sans-serif;
    color: $neutral-white;
    }

 main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        width: 50%;
        
    }

        .card {
        align-items: column;
        background-color: $neutral-white;
        font-family: "Poppins",sans-serif;
        width: 500px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 0 10px 13px rgba(0,0,0,0.2);
        transition: transform 0.3s ease;
        font-size: 16px;
        margin-top: 30px;
        margin-right: 100px;
        margin-left: 20px;
        

        head {
          background-color: $accent;
        }

        textarea {
            width: 150px;
            height: 150px;
            min-width: 50px;
            min-height: 50px;
            max-height: 400px;
            max-width: 500px;
        }

        input {
          display:block;
          text-align: left; 
          padding: 8px 14px;
            font-size: 1rem;
            border: 1px solid $neutral-light-purple;
            border-radius: 8px;
            margin-left: 20px;
            margin-top: 20px;
            width: 420px;
            font-size: small;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
           
        }

                .hover{
            transform: translateY(-5px);
             }

                a {
                  color: $primary-color;
                }

            form {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            color:$neutral-light-purple;
            font-size: 0.8rem;
            font-size: xx-small;
            
            

            .submit {
                background-color: $secondary-color;
                color:$neutral-white;
                font-family: "Poppins", sans-serif;
                width: 450px;
                align-items: center;
                font-weight: 500;
                font-size: small;
                text-align: center;
        }        
      }
    }  
  }
}
