$primary-color: hsl(0, 100%, 74%) ;
$secondary-color:  hsl(154, 59%, 51%);
$accent: hsl(248, 32%, 49%);
$neutral:  hsl(249, 10%, 26%);
$neutral:  hsl(246, 25%, 77%);

body {
    font-family: ;
    background-color: $primary-color;
    margin: 0;
}